.main-content .section-fiestas .article-box .article-box__third-box h2, .main-content .section-fiestas .article-box .article-box__second-box h2, .main-content .section-fiestas .article-box .article-box__first-box h2 {
  width: 176px;
  height: 67px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px 20px;
  margin: 0;
  align-self: flex-end;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
}

* {
  box-sizing: border-box;
}

body {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.main-header {
  padding-bottom: 50px;
}
.main-header__container {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100vw;
}
.main-header__burger {
  width: 28px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  left: 10px;
}
.main-header__burger div {
  height: 3px;
  background-color: #ff5759;
  border-radius: 15px;
}
.main-header__logo {
  max-width: 100%;
  margin: 80px 0 0 20px;
  border: 0;
}
.main-header__border {
  padding-top: 30px;
  margin-top: 32px;
  background-position: top;
  background-size: 7px 3px;
  background-repeat: repeat-x;
  background-image: linear-gradient(to right, #ff5959 25%, rgba(255, 255, 255, 0) 0%);
}
.main-header__nav {
  display: flex;
  height: 43px;
  position: relative;
}
.main-header__nav :nth-child(1) {
  background: url(../images/sprite.svg) no-repeat 0 0;
  width: 27px;
  height: 27px;
  margin: 10px;
}
.main-header__nav :nth-child(1):hover {
  background: url(../images/sprite.svg) no-repeat -37px 0;
}
.main-header__nav :nth-child(2) {
  width: 43px;
}
.main-header__nav :nth-child(3) {
  background: #bbb8b6 url(../images/sprite.svg) no-repeat -304px 12px;
  width: 43px;
}
.main-header__nav :nth-child(4) {
  background: url(../images/sprite.svg) no-repeat -74px 0;
  width: 43px;
  background-position-x: -68px;
  background-position-y: 7px;
}
.main-header__nav :nth-child(4):hover {
  background: #ff5759 url(../images/sprite.svg) no-repeat -114px 0;
  background-position-x: -68px;
  background-position-y: 7px;
}
.main-header__nav :nth-child(5) {
  width: 43px;
  height: 43px;
  background-color: #ff5759;
  position: relative;
}
.main-header__nav :nth-child(5) :nth-child(1) {
  position: absolute;
  font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  color: #fff;
  background: none;
  display: block;
  height: auto;
  margin: 0;
  left: 38%;
  top: 15%;
}

.main-content {
  background-color: white;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  margin-bottom: 80px;
}
.main-content .section-fiestas {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-content .section-fiestas .section-fiestas__icon {
  position: absolute;
  top: -60px;
}
.main-content .section-fiestas .section-fiestas__icon img {
  border-color: #f8f8f8;
}
.main-content .section-fiestas .section-fiestas__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 80px;
  margin-top: 80px;
}
.main-content .section-fiestas .section-fiestas__title h1 {
  height: 80px;
  width: 200px;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  padding: 25px 0 0px 35px;
  text-transform: uppercase;
  margin: 50px 0 0 20px;
  line-height: 22px;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 6px;
  color: #2e2925;
  border: solid black;
  border-width: 3px 0;
}
.main-content .section-fiestas .article-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-content .section-fiestas .article-box a {
  text-decoration: none;
  color: #5e5b58;
  font-family: Source Sans Pro, sans-serif;
}
.main-content .section-fiestas .article-box .article-box__first-box {
  background-image: url(../images/Dia-del-padre-resized.png);
  background-size: cover;
  width: 330px;
  height: 133px;
  display: flex;
  margin-bottom: 15px;
}
.main-content .section-fiestas .article-box .article-box__second-box {
  background-image: url(../images/figuras-tartas_1-resized.png);
  background-position: center;
  background-size: cover;
  width: 330px;
  height: 133px;
  display: flex;
  margin-bottom: 15px;
}
.main-content .section-fiestas .article-box .article-box__third-box {
  background-image: url(../images/foto-palomitas-resized.png);
  background-position: center;
  background-size: cover;
  width: 330px;
  height: 133px;
  display: flex;
  margin-bottom: 15px;
}
.main-content .section-fiestas .button button {
  margin-top: 20px;
  width: 130px;
  height: 60px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  font-weight: 500;
  line-height: 1.7;
  background-color: #ff5959;
  color: #fff;
}

.footer {
  margin-top: 126px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 600px;
}
.footer__info-icons {
  height: 438px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e8e6e5;
  /*         .footer__icons--envio-gratis a {
      &:hover {
          color: #FF5959;
      }
  } */
}
.footer .footer__info-icons .footer__footer-wrapper {
  max-width: 400px;
  margin: 0 auto;
}
.footer__info-icons .footer__icons--first-row,
.footer__info-icons .footer__icons--second-row {
  display: flex;
  height: 170px;
}

.footer__info-icons .footer__icons--envio-gratis,
.footer__info-icons .footer__icons--envio24,
.footer__info-icons .footer__icons--devolucion,
.footer__info-icons .footer__icons--reembolso {
  width: 200px;
}
.footer__info-icons .footer__icons--envio-gratis a,
.footer__info-icons .footer__icons--envio24 a,
.footer__info-icons .footer__icons--devolucion a,
.footer__info-icons .footer__icons--reembolso a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
}
.footer__info-icons .footer__icons--envio-gratis .icon {
  background: url(../images/sprite.svg) no-repeat 0 -36px;
  width: 84px;
  height: 54px;
  padding-bottom: 70px;
}
.footer__info-icons .footer__icons--envio-gratis .icon:hover {
  background: url(../images/sprite.svg) no-repeat 0 -107px;
}

.footer .footer__info-icons .footer__icons--envio24 .icon {
  background: url(../images/sprite.svg) no-repeat -89px -36px;
  width: 55px;
  height: 55px;
  padding-bottom: 70px;

}
.footer__info-icons .footer__icons--envio24 .icon:hover {
  background: url(../images/sprite.svg) no-repeat -89px -107px;
}


.footer .footer__info-icons .subtitle-1 {
  text-transform: uppercase;
  color: #67625f;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}
.footer .footer__info-icons .subtitle-2 {
  display: block;
}
.footer .footer__info-icons .footer__icons--devolucion .icon {
  background: url(../images/sprite.svg) no-repeat -150px -35px;
  width: 68px;
  height: 62px;
  padding-bottom: 70px;

}
.footer__info-icons .footer__icons--devolucion .icon:hover {
  background: url(../images/sprite.svg) no-repeat -150px -106px;
  color: #FF5959;
}
.footer__info-icons .footer__icons--reembolso .icon {

  background: url(../images/sprite.svg) no-repeat -223px -36px;
  width: 77px;
  height: 52px;
  padding-bottom: 70px;
}

.footer__info-icons .footer__icons--reembolso .icon:hover {
  background: url(../images/sprite.svg) no-repeat -223px -107px;
}
.footer__info-icons .subtitle-1 {
  text-transform: uppercase;
  color: #67625f;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}
.footer__info-icons .subtitle-2 {
  display: block;
  color: #67625f;
  font-size: 12px;
}
.footer__info-icons .subtitle-1:hover,
.footer__info-icons .subtitle-2:hover {
  color: #FF5959;
.footer .footer__info-icons .footer__icons--reembolso .icon:hover {
  background: url(../images/sprite.svg) no-repeat -223px -107px;
}
.footer .footer__web-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}
.footer .footer__web-info .footer__redes-sociales {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 325px;
}
.footer .footer__web-info .footer__redes-sociales::after {
  display: block;
  content: "";
  border-bottom: 1px solid #bbb8b6;
  padding-bottom: 35px;
  width: 325px;
  margin: 0 auto;
}
.footer .footer__web-info .footer__redes-sociales .redes-sociales__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  padding: 55px 0 10px 0;
  color: #67625f;
}
.footer .footer__web-info .footer__redes-sociales .redes-sociales__title h3 {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}
.footer .footer__web-info .footer__redes-sociales .redes-sociales__icons {
  display: flex;
}
.footer .footer__web-info .footer__redes-sociales .redes-sociales__icons a {
  margin: 2px;
}
.footer .footer__web-info .footer__redes-sociales .redes-sociales__icons :nth-child(1) {
  width: 33px;
  height: 32px;
  background: url(../images/sprite.svg) no-repeat 0 -494px;
}
.footer .footer__web-info .footer__redes-sociales .redes-sociales__icons :nth-child(2) {
  width: 33px;
  height: 32px;
  background: url(../images/sprite.svg) no-repeat -35px -494px;
}
.footer .footer__web-info .footer__redes-sociales .redes-sociales__icons :nth-child(3) {
  width: 33px;
  height: 32px;
  background: url(../images/sprite.svg) no-repeat -71px -494px;
}
.footer .footer__web-info .footer__redes-sociales .redes-sociales__icons :nth-child(4) {
  width: 33px;
  height: 32px;
  background: url(../images/sprite.svg) no-repeat -106px -494px;
}
.footer .footer__web-info .footer__redes-sociales .redes-sociales__icons :nth-child(5) {
  width: 33px;
  height: 32px;
  background: url(../images/sprite.svg) no-repeat -177px -494px;
}
.footer .footer__web-info .footer__subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 325px;
}
.footer .footer__web-info .footer__subscribe::after {
  display: block;
  content: "";
  border-bottom: 1px solid #bbb8b6;
  padding-bottom: 35px;
  width: 325px;
  margin: 0 auto;
}
.footer .footer__web-info .footer__subscribe .subscribe__title {
  text-transform: uppercase;
  line-height: 16px;
  padding: 55px 0 15px;
  color: #67625f;
}
.footer .footer__web-info .footer__subscribe .subscribe__title h3 {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}
.footer .footer__web-info .footer__subscribe .subscribe__items {
  display: flex;
  flex-direction: column;
}
.footer .footer__web-info .footer__subscribe .subscribe__items .email {
  width: 325px;
  height: 40px;
  margin-bottom: 10px;
}
.footer .footer__web-info .footer__subscribe .subscribe__items .privacy-label {
  display: flex;
  justify-content: center;
  color: #67625f;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
}
.footer .footer__web-info .footer__subscribe .subscribe__items .privacy-label a {
  color: #67625f;
}
.footer .footer__web-info .footer__subscribe .subscribe__items .subscribe__button {
  margin: 10px 0;
  padding: 10px 0;
  height: 50px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  font-weight: 700;
  letter-spacing: 0;
  background-color: #ff5959;
  border: none;
  color: #fff;
}

/* Media Queries */
/* @media only screen and (min-width: $breakpoint-desktop) {} */

/*# sourceMappingURL=styles.css.map */
