$breakpoint-desktop: 600px;
* {
    box-sizing: border-box;
}

body {
    font: 12px/1.55 "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.main-header {
    padding-bottom: 50px;
    &__container {
        background-color: #f8f8f8;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        width: 100vw;
    }
    &__burger {
        width: 28px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: sticky;
        left: 10px;
    }
    &__burger div {
        height: 3px;
        background-color: #ff5759;
        border-radius: 15px;
    }
    &__logo {
        max-width: 100%;
        margin: 80px 0 0 20px;
        border: 0;
    }
    &__border {
        padding-top: 30px;
        margin-top: 32px;
        background-position: top;
        background-size: 7px 3px;
        background-repeat: repeat-x;
        background-image: linear-gradient(to right, #FF5959 25%, rgba(255, 255, 255, 0) 0%);
    }
    &__nav {
        display: flex;
        height: 43px;
        position: relative;
         :nth-child(1) {
            background: url(../images/sprite.svg) no-repeat 0 0;
            width: 27px;
            height: 27px;
            margin: 10px;
            &:hover {
                background: url(../images/sprite.svg) no-repeat -37px 0;
            }
        }
         :nth-child(2) {
            width: 43px;
        }
         :nth-child(3) {
            background: #BBB8B6 url(../images/sprite.svg) no-repeat -304px 12px;
            width: 43px;
        }
         :nth-child(4) {
            background: url(../images/sprite.svg) no-repeat -74px 0;
            width: 43px;
            background-position-x: -68px;
            background-position-y: 7px;
            &:hover {
                background: #ff5759 url(../images/sprite.svg) no-repeat -114px 0;
                background-position-x: -68px;
                background-position-y: 7px;
            }
        }
         :nth-child(5) {
            width: 43px;
            height: 43px;
            background-color: #ff5759;
            position: relative;
             :nth-child(1) {
                position: absolute;
                font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
                font-size: 20px;
                color: #fff;
                background: none;
                display: block;
                height: auto;
                margin: 0;
                left: 38%;
                top: 15%;
            }
        }
    }
}

.main-content {
    background-color: white;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    .section-fiestas {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .section-fiestas__icon {
            position: absolute;
            top: -60px;
            & img {
                border-color: #f8f8f8;
            }
        }
        .section-fiestas__title {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            margin-bottom: 80px;
            margin-top: 80px;
            h1 {
                height: 80px;
                width: 200px;
                font: 12px/1.55 'Source Sans Pro', sans-serif;
                padding: 25px 0 0px 25px;
                text-transform: uppercase;
                margin: 50px 0 0 20px;
                line-height: 22px;
                font-size: 22px;
                font-weight: 900;
                letter-spacing: 6px;
                color: #2E2925;
                border: solid black;
                border-width: 3px 0;
            }
        }
        .article-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .button {
            height: 20px;
            display: flex;
            justify-content: center;
        }
    }
}

.footer {
    margin-top: 126px;
    display: flex;
    background-color: white;
    height: 600px;
    .footer__info-icons {
        height: 438px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #e8e6e5;
        .footer__icons--first-row {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        .footer__icons--envio-gratis {
            background: url(../images/sprite.svg) no-repeat 0 -43px;
            width: 84px;
            height: 54px;
        }
        .footer__icons--envio24 .icon {
            background: url(../images/sprite.svg) no-repeat -89px -42px;
            width: 55px;
            height: 55px;
        }
        .subtitle-1 {
            text-transform: uppercase;
            color: #67625f;
            font-size: 12px;
            line-height: 18px;
            text-decoration: none;
        }
        .subtitle-2 {
            display: block;
        }
        .footer__icons--second-row {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        .footer__icons--devolucion {
            background: url(../images/sprite.svg) no-repeat -150px -35px;
            width: 68px;
            height: 62px;
        }
        .footer__icons--reembolso {
            background: url(../images/sprite.svg) no-repeat -223px -45px;
            width: 77px;
            height: 52px;
        }
    }
}


/* Media Queries */


/* @media only screen and (min-width: $breakpoint-desktop) {} */