$breakpoint-desktop: 600px;
* {
    box-sizing: border-box;
}



body {
    font: 12px/1.55 "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
}
.container{
  display: flex;
  flex-direction: column;
  
}

.main-header {
    .main-header__container {
        background-color: #f8f8f8;
        display: flex;
    }
    &__burger {
        width: 25px;
        height: 19px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        left: 0;
    }
    &__burger div {
        height: 4px;
        background-color: #ff5759;
        border-radius: 15px;
    }
    &__nav {
        display: flex;
        height: 50px;
         :nth-child(1) {
            background: url(../images/sprite.svg) no-repeat 0 0;
            width: 27px;
            height: 27px;
            margin: 10px;
        }
         :nth-child(2) {
            background: #BBB8B6 url(../images/sprite.svg) no-repeat -304px 12px;
            width: 50px;
            height: 50px;
        }
         :nth-child(3) {
            background: url(../images/sprite.svg) no-repeat -74px 0;
            width: 30px;
            height: 27px;
            margin: 10px;
        }
    }
}

.main-content{
  background-color:white;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  
  .section-fiestas{
    
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  
    .section-fiestas__icon{
      position:absolute;
      top:-60px;
      
      & img{
        border-color: #f8f8f8;
       
      }
      }
    .section-fiestas__title{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        margin-bottom: 80px;
        margin-top: 80px;
        
      
          h1{
          height: 80px;
          width:200px;
          font: 12px/1.55 'Source Sans Pro', sans-serif;
          padding: 25px 0 0px 25px;
          text-transform: uppercase;
          margin:50px 0 0 20px;
          line-height: 22px;
          font-size: 22px;
          font-weight: 900;
          letter-spacing: 6px;
          color: #2E2925;
          border: solid black;
          border-width: 3px 0;
        } 
      }
    .article-box{
         display: flex;
         flex-direction: column;
         align-items: center;
          justify-content: center;
        }   
    
      .button{
      height: 20px;
      display: flex;
      justify-content: center;
      }
    
  }
}
.footer{
  display: flex;
  background-color: crimson;
  height: 20px;
  .info-icons{
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    .info-icons__list{
      display: flex;
    
      .camion-icon{
      display: block;
      height: 60px;
      margin: 0 auto 25px;
      width: 85px;
      
      .icon {
       background:  0 -38px no-repeat transparent;
       background-image: url(./media/sprite.svg);
     }
    }
  }
  }
  
}